@import "tailwindcss";

* {
    box-sizing: border-box !important;

}

.section1 {
    background-color: #fcf951;
    width: 100%;
    /* height: 100vh !important; */
    /* background-image: url("./assets/Image/backgroundColor.png"); */
    /* background-attachment: fixed !important; */
    /* background-size: cover; */
    /* background-position: center; */
}

.bg-fixed {
    background-attachment: fixed !important;
}

/* 
.sticky {
    position: sticky;
    z-index: -1;
    top: 0;
}


.overlay {
    z-index: 9999 !important;
} */

#section2 {
    background-color: black;
    height: 100vh;
    width: 100% !important;
    /* z-index: 9999; */
}

/* Header Start */
.header {
    position: relative !important;
}

.modal-content {
    transform: translate(-50%, -50%) !important;
    position: absolute;
    border-radius: 25px;
    left: 50% !important;
    right: 50% !important;
    width: 700px !important;
    padding: 0% !important;
    /* margin-top: 55% !important; */
    margin-top: 35% !important;
}

.childNavContent {
    background-color: #fcf951;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: wheat;
    }
}

/* Section one */

.boldText {
    font-weight: 900 !important;
    color: black;
}

/* Section two */
.section2 {
    overflow-x: hidden;
}

/* Media Query */

@media (max-width: 576px) {
    .modal-content {
        width: 100% !important;
        height: 50vh;
        margin-top: 40% !important;
        transform: translate(-50%, -50%) !important;
        position: absolute;
        border-radius: 25px;
        left: 50% !important;
        right: 50% !important;
        overflow: auto;
    }
}