@import "tailwindcss";

* {
    box-sizing: border-box !important;
}

.section1 {
    /* background-color: #fcf951; */
    background-color: #62ccd6cc;

}

.bg-fixed {
    background-attachment: fixed !important;
}


#section2 {
    background-color: black;
    /* height: 150vh !important; */
    width: 100% !important;
    overflow-y: hidden;
}

/* Header Start */
.header {
    position: relative !important;
    /* background-color: #06d69ed3; */
}

.modal-content {
    transform: translate(-50%, -50%) !important;
    position: absolute;
    border-radius: 25px;
    left: 50% !important;
    right: 50% !important;
    width: 700px !important;
    padding: 0% !important;
    /* margin-top: 55% !important; */
    margin-top: 35% !important;
    overflow: auto;
    z-index: 1000 !important;
}

.modal-backdrop {
    position: static !important;
}

.childNavContent {
    background-color: #fcf951;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1000 !important;

    &:hover {
        background-color: wheat;
    }
}

/* Section one */

.boldText {
    font-weight: 900 !important;
    color: black;
}

/* Section two */
.section2 {
    overflow-x: hidden;
}

/* Media Query */

@media (max-width: 576px) {
    .modal-content {
        width: 100% !important;
        height: 50vh;
        margin-top: 40% !important;
        transform: translate(-50%, -50%) !important;
        position: absolute;
        border-radius: 25px;
        left: 50% !important;
        right: 50% !important;
        overflow: auto;
    }
}