.falling-text-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 500px;
    /* border: 2px solid #fff; */
    overflow: hidden ! important;
    margin-top: 100px ! important;
    cursor: grab;
    text-align: center;
    padding-top: 2em;
    font-weight: 800;
}

.falling-text-target {
    display: inline-block;
}

.word {
    display: inline-block;
    margin: 0 2px;
    user-select: none;
}

.highlighted {
    /* color: cyan; */
    color: white;
    text-shadow: -16px 9px 5px rgba(0, 0, 0, 0.6);
    font-weight: bolder;
}

.falling-text-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}